html {
    height: 100%;
}

body {
    background-color: rgba(242, 242, 242, 0.4);
    font-family: 'Montserrat', sans-serif;
    color: rgb(65, 79, 102);
    height: 100%;
    text-align: left;
}
section {
    min-height: 100%;
}

#top {
    min-height: 100%;
}
#top div div div a {
    text-decoration: none;
}

#map {
    width: 100%;
    height: 100%;
}
#top div div div a:hover {
    text-decoration: none;
}
#gotop {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.05);
    bottom: 0;
    right: 0;
    position: fixed;
}

.navbar-default {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.form-format
{
    border-radius: 0;
    border-left:0;
    border-right:0;
    background-color: rgba(166, 166, 166, 0.14);
    border-color: rgba(166, 166, 166, 0.14);
    color: white;
}
.img-30{
    width: 30%;
}
.img-40{
    width: 40%;
}
.img-50{
    width: 50%;
}
.img-60{
    width: 60%;
}
.img-70{
    width: 70%;
}
.img-80{
    width: 80%;
}
.img-90{
    width: 90%;
}
.centre{
    margin-left: auto;
    margin-right: auto;
}
.background{
    background-color: rgba(166, 166, 166, 0.14);
}
.logo{
    margin-top: 1%;
}

.logo img {
    width: 16%;
}
.blue{
    color: rgb(36, 129, 154);
}
.pink{
    color: rgb(255, 95, 87);
}
.green{
    color: rgb(0, 164, 105);
}
.navigator{
    margin-top: 1%;
}
.para_profile{
    padding: 3%;
}
.padding_1{
    padding: 1%;
}
.padding_2_rightleft{
    padding-left:2%;
    padding-right:2%;
}
.padding_5_top{
    padding-top: 5%;
}
.padding_10_top{
    padding-top: 10%;
}
.padding_6_top{
    padding-top: 6%;
}
.padding_2_top{
    padding-top: 2%;
}
.padding_4_top{
    padding-top: 4%;
}
.main_div{
    padding: 5%;
    min-height: 413px;
    color: rgb(65, 79, 102);
}

#map-canvas {
    height: 500px;
    margin: 0;
    padding: 0;
}
.success_div {
    padding: 5%;
    color: rgb(65, 79, 102);
    min-height: 406px;
}
.para_main{
    padding: 2%;
    margin: 2%;
    font-size: 16px;
}

.para_16 {
    font-size: 16px;
}
.para_img{
    font-size: 14px;
    text-align: center;
    padding: 1%;
}
#line_height{
    line-height: 1.16em;
}
#address_height{
    height: 100%;
}
#first{
    padding: 2%;
    height: 100%;
    vertical-align: bottom;
    font-size: 16px;
}
#pad{
    padding-top: 10px;
}
#pad address{
    padding: 20px;
}
#growth{
    padding: 2% 2% 0 2%;
}
