html {
    height: 100%;
}

body {
    background-color: rgba(242, 242, 242, 0.4);
    font-family: 'Montserrat', sans-serif;
    color: rgb(65, 79, 102);
    height: 100%;
    text-align: left;
}
section {
    min-height: 100%;
}

.caption {
    margin: 0;
}
#top {
    min-height: 100%;
}
#top div div div a {
    text-decoration: none;
}

#AboutUs, #AboutUsSmall {
    border-bottom: none;
}
#map {
    width: 100%;
    height: 50%;
}

#map_div {
    height: 50%;
    margin-top: 6%;
}
#top div div div a:hover {
    text-decoration: none;
}
#gotop {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.05);
    bottom: 0;
    right: 0;
    position: fixed;
}

.navbar-inverse {
    background-color: rgb(65, 79, 102);
    border: none;
}
.nav-tabs li a {
    text-decoration: none;
    color: rgb(217, 217, 217);
}

.white {
    color: rgb(217, 217, 217) !important;
}
.nav-tabs li a:hover {
    text-decoration: none;
    background-color: transparent;
    border: none;
}
.form-format
{
    border-radius: 0;
    border-left:0;
    border-right:0;
    background-color: rgba(166, 166, 166, 0.14);
    border-color: rgba(166, 166, 166, 0.14);
    color: rgb(65, 79, 102);
}
.img-30{
    width: 30%;
}
.img-40{
    width: 40%;
}
.img-50{
    width: 50%;
}
.img-60{
    width: 60%;
}
.img-70{
    width: 70%;
}
.img-80{
    width: 80%;
}
.img-90{
    width: 90%;
}
.centre{
    margin-left: auto;
    margin-right: auto;
}
.background{
    background-color: rgba(166, 166, 166, 0.14);
}
.background_footer{
    z-index: -1;
    text-align: center;
    background-color: rgb(65, 79, 102);
    bottom: 0;
    color: rgb(217, 217, 217);
}
.background_footer a{
    color: rgb(217, 217, 217);
}
#policies li{
    display: inline;
    padding: 0 1%;
}
.logo{
    margin-top: 1%;
}
.blue{
    color: rgb(36, 129, 154);
}
.pink{
    color: rgb(255, 95, 87);
}
.green{
    color: rgb(0, 164, 105);
}
.navigator{
    margin-top: 1%;
}
.para_profile{
    padding: 3%;
}
.padding_1{
    padding: 1%;
}

.padding_2 {
    padding: 2%;
}
.padding_2_rightleft{
    padding-left:2%;
    padding-right:2%;
}

#resume {
    display: inline;
}
.margin_1_top {
    margin-top: 1%;
}
.padding_5_top{
    padding-top: 5%;
}
.padding_10_top{
    padding-top: 10%;
}
.padding_6_top{
    padding-top: 6%;
}
.padding_2_top{
    padding-top: 2%;
}
.padding_4_top{
    padding-top: 4%;
}

.padding_4 {
    padding: 4%;
}
.main_div{
    padding: 5%;
    min-height: 413px;
    color: rgb(65, 79, 102);
}
.success_div {
    padding: 5%;
    color: rgb(65, 79, 102);
    min-height: 386px;
}

.img-holder {
    min-height: 115px;
    position: relative;
}

.img-holder .centre {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
.para_main{
    padding: 2%;
    margin: 2%;
    font-size: 16px;
}

.padding_1_topbottom {
    padding-top: 1%;
    padding-bottom: 1%;
}
.para_16 {
    font-size: 16px;
}
.para_img{
    font-size: 14px;
    padding: 1%;
    vertical-align: middle;
}

.para_img_business {
    font-size: 14px;
    padding: 1%;
    margin: 3% 0 0 0;
    vertical-align: middle;
}

.privacy {
    text-decoration: underline;
    font-weight: bold;
}
#line_height{
    line-height: 1.16em;
}
#address_height{
    height: 100%;
}

address {
    padding: 2%;
}
#growth{
    padding: 2% 2% 0 2%;
}